{% extends "layouts/base.html" %}

{% block title %} Author {% endblock %} 

{% block body_class %} blog-author {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %} 

  <header>
    <div class="page-header min-height-400" style="background-image: url('{{ ASSETS_ROOT }}/img/sunflower.jpg');" loading="lazy">
      <span class="mask bg-gradient-dark opacity-8"></span>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <!-- START Testimonials w/ user image & text & info -->
    <section class="py-sm-7 py-5 position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12 mx-auto">
            <div class="mt-n8 mt-md-n9 text-center">
              <img class="avatar avatar-xxl shadow-xl position-relative z-index-2" src="{{ ASSETS_ROOT }}/img/lydia.jpg" alt="bruce" loading="lazy">
            </div>
            <div class="row py-5">
              <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h3 class="mb-0">Lydia Wasike</h3>
                  
                </div>
                
                <p class="text-lg mb-0">
                  Lydia Wasike
                  Her vision is that every young singlemother and streetchild will be afforded the opportunity to enjoy the fullness of life without restrictions and limitations.
                  <br/>
                  The purpose of these community programs is to make poor street child renget education;Young and Single mother get socio-economic empowerment and handicap children and youths to get opportunity to lead and play a role in the society by giving them opportunity to exploit their full potentials.
                  <br/>
                  Her Core Values are to:
                  <br/>
                  Honor God
                  <br/>
                  Sustainability
                  <br/>
                  Multiculturalism
                  <br/>
                  Leadership
                  <br/>
                  Social Equity
                  <br/>
                  Education
                  <br/>
                  Advocacy
                  <br/>
                  Integrity
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Testimonials w/ user image & text & info -->
    <!-- START Blogs w/ 4 cards w/ image & text & link -->
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="mb-5">Yomosco Profile</h3>
          </div>
        </div>

        <div >
          <div >
            <div >
              <div >
               
              </div>
              <div class="card-body px-0">
                <h5>
                  <a href="javascript:;" class="text-dark font-weight-bold">Foundation History</a>
                </h5>
                <p>
                  Founded in 2019 and officially registered in 2021,YoungMothers & StreetFamilies Charity Organization(YOMOSCO) is a community-based organization dedicated to providing services to young singlemothers and streetchildren in Nairobi as well as its immediate environs. Currently,we are offering services in Nairobi Kenya in addition to identified areas that are deemed necessary.By partnering with localschools, churches, businesses, non-governmental organizations, governmental organizations, and communityleaders. YOMOSCO establishes community programs that surround young single mothers with various opportunities for positive engagements. The work of YOMOSCO was initiated indirect response to the growing need so young mothers and streetfamilies in Kenya.
                </p>
                
              </div>
            </div>
          </div>
          <div >
            <div >
              <div >
               
              </div>
              <div class="card-body px-0">
                <h5>
                  <a href="javascript:;" class="text-dark font-weight-bold">Vision</a>
                </h5>
                <p>
                  Our vision is that every young singlemother and streetchild will be afforded the opportunity to enjoy the fullness of life without restrictions and limitations.Asaresult, YOMOSCO has been established to provide love, care, and support for young mothers and street families.
                </p>
                <h5>
                  <a href="javascript:;" class="text-dark font-weight-bold">Mission</a>
                </h5>
                  <p>
                    The purpose of these community programs is to make poor street child renget education;Young and Single mother get socio-economic empowerment and handicap children and youths to get opportunity to lead and play a role in the society by giving them opportunity to exploit their full potentials. By partner in with localschools, churches, businesses, non-governmental organizations, governmental organizations, and community leaders, YOMOSCO establishes community programs that surround identified groups with various opportunities for positive engagement and overall achievement.These positive engagements reduce the number of risks encountered and ultimately lead to higher rates of successful transitions in to adulthood.</p>
                
              </div>
            </div>
          </div>
          <div >
            <div >
              <div >
               
              </div>
              <div class="card-body px-0">
                <h5>
                  <a href="javascript:;" class="text-dark font-weight-bold">Organization Goals</a>
                </h5>
                <p>
                  The strategic objectives that YOMOSCO has established to outline expected outcomes and guide the effort so boardmembers, employees and volunteers are as follows:
                </p>
                <i><b>Sustainability</b></i>
                <p>
                  Environmental sustainability is the responsible use of resources.It is the goal of YOMOSCO to engage in the responsible use of environmental resources to ensure the availability of resources for future generations. We are committed to preparing our stakeholders for the future and equally committed to preserving future resources for our youths.
                </p>
                <i><b>High Quality Services</b></i>
                <p>
                  Our goal is to provide the highest quality services. As an organization, were orgnize that rendering quality services is essential to the grow than development of the people we serve.We will maintain high quality standards as we develop and implement our community programs in the most effective and efficient manner possible.
                </p>
                <i><b>Financial Strength</b></i>
                <p>
                  It is the goal of YOMOSCO to demonstrate strength in our organization's financial performance and heal to ensure continued ability to fulfill our organization’s mission and vision.YOMOSCO focuses on implementing plans and strategies that secure streams of revenue that continue overtime.
                </p>
                <i><b>Community Value </b></i>
                <p>
                  Our goal is to plan, support, sponsor, and implement events, activities, and services that contribute to the quality of life of the communities we serve and that support our vision. As an organization,YOMOSCO is committed to strengthen the women in order to strengthen families and ultimately strengthen the community.
                </p>
                <i><b>Core Values </b></i>
                <p>
                  The core values of YOMOSCO align with the vision,mission and goals ofthe organization.The following core values are the guiding principles of the organization:
                </p>
                <small><b>Honor God</b></small>
                <p>
                  YOMOSCO strives to bring honor to God in every effort of service to young women and the communities we serve.
                </p>
                <small><b>Sustainability</b></small>
                <p>
                  YOMOSCO implements strategies that promise to further ensure programs that endure overtime.
                </p>
                <small><b>Multiculturalism</b></small>
                <p>
                  YOMOSCO develops programs that are shaped and strengthened by the perspectives and experiences of diverse communities.
                </p>
                <small><b>Leadership</b></small>
                <p>
                  YOMOSCO models excellence and leads by example as an organization committed to helping young single mothers and street children move forward in life. 
                </p>
                <small><b>Social Equity</b></small>
                <p>
                  YOMOSCO is an organization that works in pursuit of a fair, just,and healthy society for
                  all vulnerable groups.
                </p>
                <small><b>Education</b></small>
                <p>
                  YOMOSCO makes available greater as sortments of educational resources and tools for young single mothers.
                </p>
                <small><b>Advocacy</b></small>
                <p>
                  We champion causes associated with the society especially young mothers and street families who are vulnerable.
                </p>
                <small><b>Integrity</b></small>
                <p>
                  YOMOSCO remains true to our mission and works top roduce quality programs,provide exceptional service and maximizes the support of the community.
                </p>
                <div >
                  <div >
                    <div >
                     
                    </div>
                    <div class="card-body px-0">
                      <h5>
                        <a href="javascript:;" class="text-dark font-weight-bold">Organization Structure</a>
                      </h5>
                <p> 
                  YOMOSCO is administered by a Management Committee including;
                </p>
                <ol>
                  <li>The Chairperson</li>
                  <li>The Treasurer</li>
                  <li>The Secretary</li>
                </ol>
                <p>
                  Further, the organization consists 10 registered members interested in helping the group to pursue its goals and achieve its aim through volunteering.
                </p>
              </div>
            </div>
          </div>
                <div >
                  <div >
                    <div >
                    
                    </div>
                    <div class="card-body px-0">
                      <h5>
                        <a href="javascript:;" class="text-dark font-weight-bold">Training Programs</a>
                      </h5>
                <ol>
                  <li>Tailoring</li>
                  <li>Events management</li>
                  <li>Catering</li>

                </ol>
              </div>
            </div>
          </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Blogs w/ 4 cards w/ image & text & link -->
  </div>
  
  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
